﻿@page "/"

<h2 class="bg-light border p-2">
    First Room
</h2>

Room: @room.RoomName
<br/>
Price: @room.Price
<br />

<input type="number" @bind-value="@room.Price" @bind-value:event="oninput"/>
<br />
<input type="checkbox" @bind-value="@room.IsActive" checked="@(room.IsActive ? "checked" : null)"/> &nbsp; Is Active
<br/>
<span>This room is @(room.IsActive ? "Active" : "Inactive")</span>


@code {
    Model.BlazorRoom room = new Model.BlazorRoom()
    {
        Id = 1,
        RoomName = "Villa Room",
        Price = 255.60,
        IsActive = true
    };
} 